<form action="/submit_edit" method="post">
         <div>
             {{form.csrf_token}}
             {{form.id}}
             <table>
                 <tr>
                     <td>Name</td>
                     <td>{{form.name(placeholder="name...")}}<td>
                 </tr>
                 <tr>
                     <td>Count</td>
                     <td>{{form.count(placeholder="count...")}}</td>
                 </tr>
                 <tr>
                     <td>Kind</td>
                     <td>{{form.kind(placeholder="kind...")}}</td>
                 </tr>
                 <tr>
                     <td>Description</td>
                     <td>{{form.description(placeholder="description...")}}</td>
                 </tr>
             </table>
             <button type="submit">Update</button>
         </div>
</form>